beautifulsoup4==4.12.2
cffi==1.16.0
colorama==0.4.6
colorclass==2.2.2
compressed-rtf==1.0.6
cryptography==41.0.5
easygui==0.98.3
ebcdic==1.1.1
extract-msg==0.45.0
IMAPClient==2.3.1
lark==1.1.5
msoffcrypto-tool==5.1.1
olefile==0.46
oletools==0.60.1
pcodedmp==1.2.6
pycparser==2.21
pyparsing==2.4.7
red-black-tree-mod==1.20
RTFDE==0.1.0
six==1.16.0
soupsieve==2.5
tzlocal==5.2
